<div class="services-page">
  <section class="services">
    <h2 class="reveal">NOS SERVICES</h2>
    <div class="service-list">
      <div class="service reveal">
        <img src="/assets/captation.png" alt="Captation vidéo" />
        <h3>CAPTATION VIDÉO</h3>
        <p>Un service clé en main pour capturer l’essence de votre performance.</p>
      </div>
      <div class="service reveal">
        <img src="/assets/montage.png" alt="Montage vidéo" />
        <h3>MONTAGE VIDÉO</h3>
        <p>Nous proposons différents types de contenus vidéo suite à la captation.</p>
      </div>
      <div class="service reveal">
        <img src="/assets/accompagnement.png" alt="Accompagnement" />
        <h3>ACCOMPAGNEMENT SUR LA DURÉE</h3>
        <p>Nous suivons l’artiste tout au long de sa tournée : cohérence et qualité constante garantie.</p>
      </div>
      <div class="service reveal">
        <img src="/assets/comedyclub.png" alt="Accompagnement" />
        <h3>ORGANISATION DE COMEDY CLUB</h3>
        <p>Nous créons une soirée sur mesure et transformons votre lieu en véritable scène de spectacle.</p>
      </div>
    </div>
  </section>

  <section class="engagements">
    <h2 class="reveal">NOS ENGAGEMENTS</h2>
    <ul>
      <li class="reveal"><strong>Un esprit d'équipe avant tout :</strong> Nous croyons en la collaboration et en l'entraide. Travailler avec nous, c’est rejoindre une famille dédiée à la réussite de chaque projet.</li>
      <li class="reveal"><strong>Accompagnement d'artistes en tournée :</strong> Nous pouvons suivre l'artiste sur toute sa tournée, pour assurer une cohérence et une qualité constante.</li>
      <li class="reveal"><strong>Supervision sur place :</strong> Chaque tournage est supervisé par un expert, garantissant la qualité et la fluidité de l'opération.</li>
      <li class="reveal"><strong>Le meilleur matériel :</strong> Nous utilisons les dernières technologies pour une qualité visuelle exceptionnelle.</li>
      <li class="reveal"><strong>Réactivité incontestable :</strong> Toujours présents pour ajuster et adapter selon vos besoins.</li>
    </ul>
  </section>

  <section class="tarifs">
    <h2 class="reveal">NOS TARIFS</h2>
    <div class="tarif-list">
      <div class="tarif reveal">
        <h3>CAPTATION VIDÉO <span id="forfait1">100€ HT*</span></h3>
        <p><strong>Captation intégrale d'un spectacle.</strong></p>
        <ul>
          <li>Prise en charge complète de la mise en scène.</li>
          <li>Chaque captation est synchronisée et optimisée.</li>
        </ul>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Envoyer une demande <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
      <div class="tarif reveal">
        <h3>MONTAGE VIDÉO <span id="forfait2">50€ HT*</span></h3>
        <p><strong>Édition d’une vidéo selon le besoin.</strong></p>
        <ul>
          <li>Montage soigné répondant aux attentes établies en amont.</li>
          <li>Réactivité pour garantir les délais.</li>
        </ul>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Envoyer une demande <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
      <div class="tarif reveal">
        <h3>CAPTATION + MONTAGE <span id="forfait3">140€ HT*</span></h3>
        <p><strong>Captation intégrale + montage.</strong></p>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Envoyer une demande <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="tarifs">
    <h2 class="reveal">SUR DEMANDE</h2>
    <div class="tarif-list">
      <div class="tarif reveal">
        <h3>CADRAGE EN BACKSTAGE <span id="forfait1">Sur devis*</span></h3>
        <p><strong>Authenticité unique en coulisses grâce à un aperçu de la préparation et de l'ambiance avant la performance.</strong></p>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Demander un devis <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
      <div class="tarif reveal">
        <h3>CAPTATION AVEC DRONE <span id="forfait2">Sur devis*</span></h3>
        <p><strong>Nous prenons de la hauteur pour vous créer des plans aériens spectaculaires.</strong></p>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Demander un devis <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
      <div class="tarif reveal">
        <h3>ORGANISATION DE COMEDY CLUB <span id="forfait3">Sur devis*</span></h3>
        <p class="comedyclub"><strong>Faites appel à notre équipe pour créer une soirée sur mesure : humour, ambiance et artistes de talent au rendez-vous !<br>
          Surprenez vos clients, boostez votre image et transformez votre lieu en véritable scène de spectacle !
          <br><span id="contacteznous">Contactez-nous dès maintenant !</span></strong></p>
        <div class="overlay">
          <a href="mailto:contact@emjyproduction.fr" class="overlay-btn">
            Demander un devis <i class="fa-solid fa-paper-plane"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>