<div class="hero">
    <div class="hero-text">
        <h1>CAPTATION</h1>
        <h2><span class="underline-left">& MONTAGE <span id="video">VIDÉO</span></span></h2>
        <p>Nous sublimons vos spectacles à travers une réalisation vidéo soignée et un accompagnement personnalisé.</p>
        <a routerLink="/services" class="btn services-btn">Nos services</a>
        <a routerLink="/contact" class="btn contact-btn">
          <i class="fa-solid fa-paper-plane"></i> Contactez-nous
        </a>      
    </div>
    <div class="hero-image">
        <div class="badge">
          <span class="dot"></span> En ce moment
        </div>
        <div class="image-container">
          <img src="assets/affiche_juillet.jpeg" alt="Affiche spectacle Juillet">
          <div class="overlay">
            <a routerLink="/billetterie" class="ticket-link">
              <i class="fa-solid fa-eye"></i> Voir la billetterie
            </a>
          </div>
        </div>
      </div>
</div>